.faq-section {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #ffffff; 
  border-radius: 0 0 50px 50px;
}

.faq-section .container {
  max-width: 900px;
  margin: 0 auto;
  /* width: 45%; */
}

.faq-title {
  font-size: 4rem;
  margin-bottom: 3rem;
  color: #0b0c2a; /* Dark color */
}

  .faq-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
    margin: 0 auto;
  }

.faq-item {
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease; /* Add transition for smooth animation */
}

.faq-item.open {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Add shadow when open */
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f9f9f9;
  cursor: pointer;
}

.faq-question p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #0b0c2a;
}

.dropdown-icon {
  /* Styling for the image icon */
  width: 20px; /* Adjust size as needed */
  height: auto;
  transition: transform 0.3s ease; /* Add transition for rotation */
}

.dropdown-icon.rotated {
    transform: rotate(180deg); /* Rotate icon when open */
}

.faq-answer {
  font-size: 0.9rem;
  padding: 1rem;
  text-align: left;
  color: #555;
  border-top: 1px solid #eee;
  /* Use max-height and visibility for smooth dropdown effect */
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.faq-item.open .faq-answer {
  max-height: 500px; /* Adjust based on expected content height */
  visibility: visible;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .faq-title {
    font-size: 2rem;
  }
} 